*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* nav starts */
.nav_container{
    width: 100%;
    position: fixed;
    background-color: #fff;
    display: flex;
    padding: 40px clamp(40px,10vw,120px);
    justify-content: space-between;
    z-index: 2;
}   
#logo{
    width: 50px;

}
.contact_but{
    all: unset;
    color: #7510F7;
    font-family: 'Dongle-Bold';
    font-size:clamp(1rem,5vw, 1.3125rem);
    padding:4px 16px 2px 16px;
    border-radius: 100px;
    border: 1px solid #7510F7;
}

/* nav ends */


/* photo starts */
    .photo_container{
        height: 65vh;
        background-color: rgb(202, 230, 255);
    }



/* photo ends */













/* greeting & name starts */
.name_container{
    text-align: center;
    /* background-color: #969696; */
    margin-bottom: 5%;
}



.cta_container{
    display: flex;
    justify-content: center;
    margin-top: 1%;

}

.resume_download_button,.project_button{
    
    all: unset;
    margin: 10px;
    font-size: clamp(1rem,5vw,1.75rem);
}
.resume_download_button{
    font-family: 'Dongle-Bold';
    background: #7510F7;
    color: #fff;
    padding: 4px 26px 2px;
    border-radius: 50px;
}
.project_button{
    font-family: 'Dongle-Bold';
    color: #7510F7;
    padding: 4px 26px 2px;
    border-radius: 50px;
    border: 1px solid #7510F7;
}


#greetings{
    font-family:'ClashDisplay-Variable';
    font-weight: 300;
    font-size: clamp(1.25rem,8vw,2.375rem);
}
#myname{
    font-family:'ClashDisplay-Semibold';
    font-size: clamp(1.75rem,10vw,3.125rem);

}
/* greeting & name ends */



/* about starts */
.aboutme_heading{
    font-family:'Dongle-Bold';
    font-size: clamp(2.375rem,8vw, 4.18rem);
}
.aboutme_body{
    margin-top: 20px;
    font-family:'Dongle-Light';
    font-size:  clamp(1.75rem,10vw, 2.375rem);
    line-height: 2.375rem;
}

.about_container{
    text-align: center;
    padding: 60px 120px; 
    background-color: #7510F7; 
    color: #ffffff;
    height: fit-content;
    z-index: 1;
    position: relative;
}



/* about ends */



/* skillset starts */


.design_card{
    margin: 0px clamp(10px,10vw,120px);
    padding: clamp(30px,10vw,80px);
    border-radius: 20px;
    text-align: center;
    display:flex ;
    flex-direction: column;
    gap: 50px;
    z-index: 1;
    position: relative;
    background: #FFF;
    box-shadow: 6px 10px 30px 0px rgba(117, 16, 247, 0.15) inset;
    filter: drop-shadow(-6px 10px 20px rgba(0, 0, 0, 0.15));
    /* margin-top: 80px; */
}
.list_container{
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 120px;

}
.list_headings{
    color: #7510F7;
    list-style: none;
    
}
ul>*{
    list-style: none;
}



.dev_card{
    margin: 30px clamp(10px,10vw,120px);
    padding: clamp(30px,10vw,80px);
    border-radius: 20px;
    text-align: center;
    display:flex ;
    flex-direction: column;
    gap: 50px;
    fill: #FFF;
    box-shadow: 6px 10px 30px 0px rgba(117, 16, 247, 0.10) inset;
/* filter: drop-shadow(-6px 10px 20px rgba(0, 0, 0, 0.15)); */

}
/* skilset ends */





/* contact starts */

#heading{
    text-align: center;
    font-family: 'Dongle-Bold';
    font-size:clamp(3.125rem,10vw,4.18rem) ;
    color: #7510F7; 
}


.contact_form{
    margin: 0px  clamp(40px,10vw,120px);
    display: grid;
    grid-gap: 0px 30px;
    grid-template-columns: repeat(6,1fr);
    background-color: #FFF;

}
.description{
    grid-column:span 6;
}
textarea {
    resize: none;
    height: 150px;
    margin-top: 10px;
    padding:16px 16px ;
    width: 100%;
    font-family: 'Dongle-Light', sans-serif;
    font-size:clamp(1.25rem,5vw, 1.75rem);
    border-radius: 8px;
    border: 1px solid rgba(117, 16, 247, 0.40);
  }

   .name{
    grid-column:span 3;
    margin-top: 30px;
    margin-bottom: 30px;

  } 
  .email{
    grid-column:span 3;
    margin-top: 30px;
    margin-bottom: 30px;    
  }

  input{
    all: unset;
    width: 100%;
    margin-top: 10px;
    height: 45px;
    border-radius: 8px;
    border: 1px solid rgba(117, 16, 247, 0.40);
    padding: 16px;
    box-sizing: border-box;
    font-family: 'Dongle-Light', sans-serif;
    font-size:clamp(1.25rem,5vw, 1.75rem);
  }




  .form_button{
    all: unset;
    display: flex;
    margin: auto;
    margin-top: 30px;
    color: #ffffff;
    padding: 10px clamp(60px,15vw,150px);
    border-radius: 100px;
    background: #7510F7;
    border: 1px solid #7510F7;
  } 
/* contact ends */


footer{
    padding-top:30px ;
    margin-top:50px;
    height: 30vh;
    background-color: #7510F7;
    text-align: center;
    color: #FFF;

}

#footer_logo{
    width: 50px;
}
#footer_name{
    /* width: 50px; */
    margin-left: 20px;
}  
#social_link{
    margin-top: 30px;
}
.gototop{
    position: fixed;
    bottom: 40px;
    right: 25px;
    z-index: 2;
    
}


@media (width<=790px) {
    .name,.email{
        grid-column:span 6;
        margin-top: 0px;
        margin-bottom: 30px;
      }
}
@media (width<=512px) {

    .list_container{
        display: block;
    
    }

    .about_container{
        padding: 30px 30px; 
        height: 40vh;   
    }
    .design_tools,.dev_tools{
        padding-top: 30px;
    }

    .aboutme_body{
        font-size:  1.75rem;
        line-height: 1.25rem;
    }

    
}